.daybox
  label
    input(type="checkbox")#switch_night
    .top
      .quote
      .moon
        .dot.dot1
        .dot.dot2
        .dot.dot3
      .cloud
        .rain
        .rain.rain2
        .rain.rain3
      .window
        .high High
        .low Low
        .info
          .city 台北市
          .date 請點選下方
      .close X
    .bottom
      .dayweather.d5
        .temp
          h3.day 五
          h4 17~23
        svg(viewbox="-63 -30 100 100")
          circle.cloud.cloud_bad(cx=0 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-7 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-14 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-22 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-30 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-24 cy=8 r=15)
          circle.cloud.cloud_bad(cx=-7 cy=10 r=10)
          rect.drop(x=0 y=30 width=5 height=15 fill="blue")
          rect.drop(x=0 y=50 width=5 height=15 fill="blue")
          rect.drop(x=-20 y=40 width=5 height=15 fill="blue")
          rect.drop(x=-20 y=60 width=5 height=15 fill="blue")
          rect.drop(x=-40 y=30 width=5 height=15 fill="blue")
          rect.drop(x=-40 y=50 width=5 height=15 fill="blue")
      .dayweather.d6
        .temp
          h3.day 六
          h4 16~24
        svg(viewbox="-65 -30 100 100")
          circle.sun(cx=0 cy=0 r=22)
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-7 cy=30 r=20)
          circle.cloud(cx=-14 cy=30 r=20)
          circle.cloud(cx=-22 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-24 cy=8 r=15)
          circle.cloud(cx=-7 cy=10 r=10)
      .dayweather.d7
        .temp
          h3.day 日
          h4 16~22
        svg(viewbox="-65 -30 100 100")
          circle.cloud.cloud_bad(cx=0 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-7 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-14 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-22 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-30 cy=30 r=20)
          circle.cloud.cloud_bad(cx=-24 cy=8 r=15)
          circle.cloud.cloud_bad(cx=-7 cy=10 r=10)
          rect.drop(x=0 y=30 width=5 height=15 fill="blue")
          rect.drop(x=0 y=50 width=5 height=15 fill="blue")
          rect.drop(x=-20 y=40 width=5 height=15 fill="blue")
          rect.drop(x=-20 y=60 width=5 height=15 fill="blue")
          rect.drop(x=-40 y=30 width=5 height=15 fill="blue")
          rect.drop(x=-40 y=50 width=5 height=15 fill="blue")
      .dayweather.d1
        .temp
          h3.day 一
          h4 14~18
        svg(viewbox="-65 -30 100 100")
          circle.cloud.cloud_soso(cx=0 cy=30 r=20)
          circle.cloud.cloud_soso(cx=-7 cy=30 r=20)
          circle.cloud.cloud_soso(cx=-14 cy=30 r=20)
          circle.cloud.cloud_soso(cx=-22 cy=30 r=20)
          circle.cloud.cloud_soso(cx=-30 cy=30 r=20)
          circle.cloud.cloud_soso(cx=-24 cy=8 r=15)
          circle.cloud.cloud_soso(cx=-7 cy=10 r=10)

      .dayweather.d2
        .temp
          h3.day 二
          h4 14~19
        svg(viewbox="-65 -30 100 100")
          circle.sun(cx=0 cy=0 r=22)
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-7 cy=30 r=20)
          circle.cloud(cx=-14 cy=30 r=20)
          circle.cloud(cx=-22 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-24 cy=8 r=15)
          circle.cloud(cx=-7 cy=10 r=10)
      .dayweather.d3
        .temp
          h3.day 三
          h4 13~23
        svg(viewbox="-65 -30 100 100")
          circle.sun(cx=0 cy=0 r=22)
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)
      .dayweather.d4
        .temp
          h3.day 四
          h4 9~13
        svg(viewbox="-65 -30 100 100") 
          circle.cloud.cloud_cold(cx=0 cy=30 r=20)
          circle.cloud.cloud_cold(cx=-7 cy=30 r=20)
          circle.cloud.cloud_cold(cx=-14 cy=30 r=20)
          circle.cloud.cloud_cold(cx=-22 cy=30 r=20)
          circle.cloud.cloud_cold(cx=-30 cy=30 r=20)
          circle.cloud.cloud_cold(cx=-24 cy=8 r=15)
          circle.cloud.cloud_cold(cx=-7 cy=10 r=10)
          rect.drop(x=0 y=30 width=5 height=15 fill="blue")
          rect.drop(x=0 y=50 width=5 height=15 fill="blue")
          rect.drop(x=-20 y=40 width=5 height=15 fill="blue")
          rect.drop(x=-20 y=60 width=5 height=15 fill="blue")
          rect.drop(x=-40 y=30 width=5 height=15 fill="blue")
          rect.drop(x=-40 y=50 width=5 height=15 fill="blue")
.copyright 範例來自 墨雨設計／天氣資料 Google Weather